<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="${bodyText}"></p>
<p th:text="${tokenTitle}"></p>
<p>
    <b style="font-size:24px; font-weight:600" th:text="${token}"></b>
</p>
<p th:text="${expireText}"></p>
<p th:text="${regardsText}"></p>
<!--<p th:text="#{regards}"></p>-->
<p>
    <img height="45" src="cid:attachment.png"/>
</p>
<em th:text="${supportText}"></em>
</body>
</html>