<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>theymeleaf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p>Get attribute from controller</p>
<h1 th:text="${testHello}"></h1>
---------
<p>Get Message From i18n prop</p>
<p th:text="#{title}">Title ...</p>
-----
<p>Object Access</p>
<p th:text="${permissions.name}"></p>
<h2 th:text="${permissions.name}">List of Seed Starters</h2>

</body>
</html>