<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.beka.mapper.PermissionsMapper">
    <select id="findAllWithPaging" resultMap="resultPermissions">
        select * from permissions
        limit #{page.offset}, #{page.limit}
    </select>
    <resultMap id="resultPermissions" type="io.beka.model.entity.Permissions">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="crud_table" property="crudTable"/>
    </resultMap>
</mapper>
